﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ControlFechas.ascx.cs" Inherits="AplicacionWebClinica.ControlFechas" %>
<asp:TextBox ID="TextBox1" runat="server" ReadOnly="true"></asp:TextBox>
<asp:Calendar ID="Calendar1" runat="server" OnSelectionChanged="Calendar1_SelectionChanged"></asp:Calendar>