﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Inicio.aspx.cs" Inherits="AplicacionWebClinica.Inicio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <head>

                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="">
                <meta name="author" content="">

                <title>OdontoBrackets</title>

                <!-- Bootstrap Core CSS -->
                <link href="Content/bootstrap.min.css" rel="stylesheet" />
                <!-- Custom CSS -->
                <link href="/Content/css/business-casual.css" rel="stylesheet">
                <!-- Fonts -->
                <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
                <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

            </head>

            <body>

                <div class="brand">
                    <img class="" src="/Content/img/Logo.png" />
                    Centro Odontóligo Especializado
                </div>
                <div class="address-bar"></div>

                <!-- Navigation -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                            <a class="navbar-brand" href="index.html">Business Casual</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">Inicio</a>
                                </li>
                                <li>
                                    <a href="#">Contacto</a>
                                </li>
                                <li>
                                    <a href="Logueo.aspx">Iniciar sesión</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>

                <div class="container">

                    <div class="row">
                        <div class="box">
                            <div class="col-lg-12 text-center">
                                <div id="carousel-example-generic" class="carousel slide">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators hidden-xs">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive img-full" src="/Content/img/unidad.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive img-full" src="/Content/img/mujer-feliz.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive img-full" src="/Content/img/Ortodoncia.jpg" alt="">
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="icon-prev"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="icon-next"></span>
                                    </a>
                                </div>
                                <h2 class="brand-before">
                                    <small>¡Bienvenido!</small>
                                </h2>
                                <h1 class="brand-name"></h1>
                                <hr class="tagline-divider">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="box">
                            <div class="col-lg-12">
                                <hr>
                                <h2 class="intro-text text-center">| Visítenos
                        <strong>Cll 18 #10-56 Enseguida del hotel Caquetá Real |</strong>
                                </h2>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="box">
                           <%-- <div class="col-lg-12">
                                <hr>
                                <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                                </h2>
                                <hr>
                                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>--%>
                        </div>
                    </div>

                </div>
                <!-- /.container -->

                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                               <%-- <p>Copyright &copy; Your Website 2014</p>--%>
                            </div>
                        </div>
                    </div>
                </footer>

                <!-- jQuery -->
                <script src="/Content/js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="/Content/js/bootstrap.min.js"></script>

                <!-- Script to Activate the Carousel -->
                <script>
                    $('.carousel').carousel({
                        interval: 5000 //changes the speed
                    })
                </script>

            </body>
        </div>
    </form>
</body>
</html>
