﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PaginaMaestra.Master" AutoEventWireup="true" CodeBehind="Menu.aspx.cs" Inherits="AplicacionWebClinica.Menu" %>
<asp:Content ID="Content1" ContentPlaceHolderID="contenido" runat="server">
</asp:Content>
